@font-face {
    font-family: 'HYTieXianHei-CEJ';
    font-weight: normal;
    font-style: normal;
    src: url(./HYTieXianHei-35J.ttf);
}
@font-face {
    font-family: 'aparaj';
    font-weight: normal;
    font-style: normal;
    src: url(./aparaj.ttf);
}
