*{
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(181, 181, 182);
  &.hide{
    height: 0;
    opacity: 0;
    transition: all 1s 2s;
  }
  img{
    height: 200px;
  }
}
#menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: transparent;
  // background: rgba(255,255,255, .3);
  z-index: 99;
  display: flex;
  justify-content: center;
  opacity: 0;
  &.show{
    transition: all 1s 3s;
    opacity: 1;
  }
  &.black{
    li {
      color: #2b2b2b;
    } 
  }
  li {
    line-height: 10vh;
    margin: 0 24px;
    color: #fff;
  }
}
body{
  min-width: 960px;
  min-height: 640px;
}
.top-bar{
  position: relative;
  height: 100vh;
  background: rgb(57, 4, 6);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  &.start{
    .line{
      transition: all 1.5s 3s;
      transform: translateX(0);
      opacity: 1;
    }
    .bg{
      transition: all .5s 3s;
      transform: translateX(0);
      opacity: 1;
    }
    .logo{
      transition: all .5s 3s;
      transform: translateX(0);
      opacity: 1;
    }
  }
  .logo{
    height: 200px;
    margin-right: 40px;
    background: transparent;
    transform: translateX(-300px);
    opacity: 0;
  }
  .bg{
    height: 100%;
    transform: translateX(-300px);
    opacity: 0;
  }
  .line{
    background: rgb(81, 14, 15);
    height:100%;
    width: 200px;
    position: relative;
    margin-right: 30px;
    transform: translateX(-1000px);
    opacity: .6;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 60px;
      width: 10px;
      height: 100%;
      background: rgb(208, 138, 148);
    }
  }
}
.revivalOfLearning{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;
  background: #fff;
  width: 100%;
  height: 80vh;
  margin: 10vh auto;
  img{
    height: 100%;
  }
}
.intro{
  background: #fff;
  width: 100%;
  height: 80vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 80vh;
  }
}