* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
}
input,
button,
a {
  outline: none !important;
  border: none !important;
}
a,
li {
  cursor: pointer;
}
body {
  min-width: 1000px;
  min-height: 640px;
}
@font-face {
  font-family: 'Filosofia';
  font-weight: normal;
  font-style: normal;
  src: url('FilosofiaGrand.ttf');
}
@keyframes scaleAnim {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1.05);
  }
}
