*{
    font-family: 'aparaj', 'HYTieXianHei-CEJ';
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    text-align: left;
}
.clearfix::after{
    content: '';
    height: 0;
    display: none;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}